body {
	background: black;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}
.postcard-body {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 10px;
	width: 100%;
}
.postcard-footer {
	text-align: center;
	width: 100%;
	margin-top: auto;
	padding: 10px;
}

.send-button {
	background-color: #333; /* Color oscuro */
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.send-button:hover {
	background-color: #222;
}
